{% extends 'base_default.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.pseudo) }}
    {{ form_row(registrationForm.dob) }}
    {{ form_row(registrationForm.sex) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(registrationForm) }}
{% endblock %}
