{% extends 'base_default.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <p>DefaultController</p>
    {% for message in app.flashes('accountCreated') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('app_login') }}">Login</a>
    <br>
    <a href="{{ path('app_register') }}">Register</a>
{% endblock %}
