{% extends 'base.html.twig' %}

{% block title %}SLIDER{% endblock %}

{% block body %}
    SLIDER
    {% if errors is defined %}
        {{ errors }}
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.img) }}
    <button type="submit" class="btn btn-success">Add</button>
    {{ form_end(form) }}
    {% for picture in arrayImg %}
        <div>
            {% if picture != "" %}
                <img src="{{ asset("img/"~pseudo~"/Slider/"~picture) }}" width="200px"/>
            {% endif %}
            {% if picture != "" %}
                <a href="{{ url('slider_remove', { 'img' : picture}) }}" class="btn btn-danger delete-button">remove</a>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}
