{% extends 'base.html.twig' %}

{% block title %}MATCH CONTROLLER{% endblock %}

{% block body %}MATCH
    <div class="row">
        {% for user in userArray %}
            <div class="card col-4 m-4">
                {% if  user.profilePicture != "" %}
                    <a href="#"> <img class="card-img-top"
                                      src="{{ asset("img/"~user.pseudo~"/Profile/"~user.profilePicture) }}"></a>
                {% else %}
                    <img class="card-img-top" src="{{ asset("unknown.png") }}"/>
                {% endif %}
                <div class="card-body">
                    <a href="{{ path('distant_user_display', {'hash': hash,'id' : user.id}) }}"><h5
                                class="card-title"> {{ user.pseudo }}</h5></a>
                    Age : {{ user.dob | age }}
                    <hr>
                    Ville : {{ user.infos.city }}
                    <hr>
                    {% if user.distance >= 1 %}
                        Actuellement à {{ user.distance }}km de votre position
                    {% else %}
                        Actuellement à moins de 1km
                    {% endif %}
                    <hr>
                    <p class="card-text">{{ user.infos.aboutYou }}</p>
                    <a href="#" class="btn btn-primary">Tchatter</a>
                    <a href="{{ path('delete_match', { 'id' : user.id}) }}" class="btn btn-danger">Supprimer le match</a>
                    <br>
                    <a href="#">Signaler la photos (ne répresente pas la personne)</a>
                    <br>
                    <a href="#">Signaler Comportement inapproprié</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}