{% extends 'base.html.twig' %}

{% block title %}MATCH CONTROLLER{% endblock %}

{% block body %}
    {% for message in app.flashes('rangeError') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% if stopLike != false %}
        <div class="alert alert-warning">
            Il vous reste encore {{ stopLike }} d'attente pour pouvoir liker à nouveaux des profiles
        </div>
    {% endif %}

    {% if sexType is same as('femme') %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{ form_start(form) }}
                {{ form_row(form.rangeAgeMin, {'attr' : {'class' : 'rangeMin'}}) }}<p class="MinVal"></p>
                {{ form_row(form.rangeAgeMax, {'attr' : {'class' : 'rangeMax'}}) }}<p class="MaxVal"></p>
                {{ form_row(form.rangeMaxDistance, {'attr' : {'class' : 'MaxDistance'}}) }}<p class="DistanceVal"></p>
                {{ form_row(form.interest) }}
                {{ form_row(form.lifestyle) }}
                {{ form_row(form.characters) }}
                <button type="submit" class="btn btn-success">Filter</button>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{ form_start(form) }}
                {{ form_row(form.rangeAgeMin, {'attr' : {'class' : 'rangeMin'}}) }}<p class="MinVal"></p>
                {{ form_row(form.rangeAgeMax, {'attr' : {'class' : 'rangeMax'}}) }}<p class="MaxVal"></p>
                {{ form_row(form.rangeMaxDistance, {'attr' : {'class' : 'MaxDistance'}}) }}<p class="DistanceVal"></p>
                <div class="d-none"> {#a check coter sécu // voir plus propre#}
                    {{ form_row(form.interest) }}
                    {{ form_row(form.lifestyle) }}
                    {{ form_row(form.characters) }}
                </div>
                <button type="submit" class="btn btn-success">Refresh</button>


                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for user in userArray %}
            <div class="card col-4 m-4">
                {% if  user.profilePicture != "" %}
                    <a href="#"> <img class="card-img-top"
                                      src="{{ asset("img/"~user.pseudo~"/Profile/"~user.profilePicture) }}"></a>
                {% else %}
                    <img class="card-img-top" src="{{ asset("unknown.png") }}"/>
                {% endif %}
                <div class="card-body">
                    <a href="{{ path('distant_user_display', {'hash': hash,'id' : user.id}) }}"><h5
                                class="card-title"> {{ user.pseudo }}</h5></a>
                    Age : {{ user.dob | age }}
                    <hr>
                    Ville : {{ user.infos.city }}
                    <hr>
                    {% if user.distance >= 1 %}
                        Actuellement à {{ user.distance }}km de votre position
                    {% else %}
                        Actuellement à moins de 1km
                    {% endif %}
                    <hr>
                    <p class="card-text">{{ user.infos.aboutYou }}</p>
                    {% if stopLike == false %}
                        <a href="{{ path('matching_handler_like',{'id' : user.id}) }}" class="btn btn-success">Like</a>
                        <a href="{{ path('matching_handler_dislike',{'id' : user.id}) }}"
                           class="btn btn-danger">Dislike</a>
                    {% endif %}
                    <br>
                    <a href="#">Signaler la photos (ne répresente pas la personne)</a>
                    <br>
                    <a href="#">Signaler Comportement inapproprié</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.MinVal').text({{ form.vars['data'].rangeAgeMin }});
            $('.MaxVal').text({{ form.vars['data'].rangeAgeMax }});
            $('.DistanceVal').text({{ form.vars['data'].rangeMaxDistance }});

            $('.rangeMin').on('input', function () {
                var $min = $(this).val();
                $('.MinVal').text($min);
            });

            $('.rangeMax').on('input', function () {
                var $max = $(this).val();
                $('.MaxVal').text($max);
            });

            $('.MaxDistance').on('input', function () {
                var $km = $(this).val();
                $('.DistanceVal').text($km);
            });
        });
    </script>
{% endblock %}