{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    {% if  user.profilePicture != null or user.profilePicture != "" %}
        <a href="#"> <img src="{{ asset("img/"~user.pseudo~"/Profile/"~user.profilePicture) }}" width="100px" height="100px"
                          style="border-radius: 50%; overflow: hidden;"></a>
    {% else %}
        <img src="{{ asset("unknown.png") }}" width="100px" height="100px"
             style="border-radius: 50%; overflow: hidden;"/>
    {% endif %}
    <br>
    FUTUR CONTENT
{% endblock %}
