{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% if  user.profilePicture != null %}
        <a href="#"> <img src="{{ asset("img/"~user.pseudo~"/Profile/"~user.profilePicture) }}" width="100px"
                          height="100px"
                          style="border-radius: 50%; overflow: hidden;"></a>
        <a class="btn btn-danger" href="{{ path('remove_profile_picture') }}">Remove profie picture</a>
        <br>
    {% else %}
        <img src="{{ asset("unknown.png") }}" width="100px" height="100px"
             style="border-radius: 50%; overflow: hidden;"/>
    {% endif %}

    <p>Change profile picture form</p>

    {{ form_start(formImg) }}
    {{ form_row(formImg.ProfilePicture) }}
    <button type="submit" class="btn btn-success">Add</button>
    {{ form_end(formImg) }}
    <br>
    {{ form_start(formInfos) }}
    {{ form_row(formInfos.city) }}
    {{ form_row(formInfos.country) }}
    {{ form_row(formInfos.sport) }}
    {{ form_row(formInfos.work) }}
    {{ form_row(formInfos.leisure) }}
    {{ form_row(formInfos.interest) }}
    {{ form_row(formInfos.lifestyle) }}
    {{ form_row(formInfos.characters) }}
    {{ form_row(formInfos.origin) }}
    {{ form_row(formInfos.eyes) }}
    {{ form_row(formInfos.haircolor) }}
    {{ form_row(formInfos.haircut) }}
    {{ form_row(formInfos.tattoo) }}
    {{ form_row(formInfos.piercing) }}
    {{ form_row(formInfos.size) }}
    {{ form_row(formInfos.weight) }}
    {{ form_row(formInfos.morphology) }}
    {{ form_row(formInfos.alcool) }}
    {{ form_row(formInfos.smoke) }}
    {{ form_row(formInfos.aboutyou) }}
    {{ form_row(formInfos.herefor) }}
    {{ form_row(formInfos.intention) }}
    {{ form_row(formInfos.profileDominance) }}
    {{ form_row(formInfos.children) }}
    {{ form_row(formInfos.favoriteMoovie) }}
    {{ form_row(formInfos.favoriteSong) }}
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(formInfos) }}
{% endblock %}
