{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% if checkIsDistantUser is defined %}
        {% if interactionCheck == true %}
            {% if stopLike is defined %}
                {% if stopLike != false %}
                    <div class="alert alert-warning">
                        Il vous reste encore {{ stopLike }} d'attente pour pouvoir liker à nouveaux des profiles
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    <h3>Profile</h3>
    {% for message in app.flashes('editProfile') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('editPicture') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if  user.profilePicture != null %}
        <img src="{{ asset("img/"~user.pseudo~"/Profile/"~user.profilePicture) }}" width="100px"
             height="100px"
             style="border-radius: 50%; overflow: hidden;"/>
    {% else %}
        <img src="{{ asset("unknown.png") }}" width="100px" height="100px"
             style="border-radius: 50%; overflow: hidden;"/>
    {% endif %}

    {% if checkIsDistantUser is defined %}
        {% if stopLike == false %}
            {% if interactionCheck == true %}
                <a href="{{ path('matching_handler_like',{'id' : user.id}) }}" class="btn btn-success">Like</a>
                <a href="{{ path('matching_handler_dislike',{'id' : user.id}) }}" class="btn btn-danger">Dislike</a>
            {% endif %}
        {% endif %}
    {% endif %}

    <ul>
        <li>Pseudo : {{ user.pseudo }}</li>
        <li>Sexe : {{ user.sex }}</li>
        <li>Ages : {{ user.dob | age }} ans</li>


        {% if user.infos.hereFor is not empty %}
            <li> here for : {{ user.infos.hereFor }}</li>
        {% endif %}
        {% if user.infos.profileDominance is not empty %}
            <li>{{ user.infos.profileDominance }}</li>
        {% endif %}
        {% if user.infos.aboutyou is not empty %}
            <li>{{ user.infos.aboutyou }}</li>
        {% endif %}
        {% if user.infos.city is not empty %}
            <li>{{ user.infos.city }}</li>
        {% endif %}
        {% if user.infos.country is not empty %}
            <li>{{ user.infos.country }}</li>
        {% endif %}
        {% if user.infos.intention is not empty %}
            <li>{{ user.infos.intention }}</li>
        {% endif %}
        {% if user.infos.lifestyle is not empty %}
            <li>{{ user.infos.lifestyle }}</li>
        {% endif %}
        {% if user.infos.work is not empty %}
            <li>{{ user.infos.work }}</li>
        {% endif %}
        {% if user.infos.interest is not empty %}
            <li>{{ user.infos.interest }}</li>
        {% endif %}
        {% if user.infos.characters is not empty %}
            <li>{{ user.infos.characters }}</li>
        {% endif %}
        {% if user.infos.origin is not empty %}
            <li>{{ user.infos.origin }}</li>
        {% endif %}
        {% if user.infos.morphology is not empty %}
            <li>{{ user.infos.morphology }}</li>
        {% endif %}
        {% if user.infos.size is not empty %}
            <li>{{ user.infos.size }}</li>
        {% endif %}
        {% if user.infos.weight is not empty %}
            <li>{{ user.infos.weight }}</li>
        {% endif %}
        {% if user.infos.sport is not empty %}
            <li>{{ user.infos.sport }}</li>
        {% endif %}
        {% if user.infos.eyes is not empty %}
            <li>{{ user.infos.eyes }}</li>
        {% endif %}
        {% if user.infos.haircut is not empty %}
            <li>{{ user.infos.haircut }}</li>
        {% endif %}
        {% if user.infos.haircolor is not empty %}
            <li>{{ user.infos.haircolor }}</li>
        {% endif %}
        {% if user.infos.smoke is not empty %}
            <li>{{ user.infos.smoke }}</li>
        {% endif %}
        {% if user.infos.alcool is not empty %}
            <li>{{ user.infos.alcool }}</li>
        {% endif %}
        {% if user.infos.tattoo is not empty %}
            <li>{{ user.infos.tattoo }}</li>
        {% endif %}
        {% if user.infos.piercing is not empty %}
            <li>{{ user.infos.piercing }}</li>
        {% endif %}

    </ul>
    {% if checkIsDistantUser is not defined %}
        <a href="{{ path('edit_profile') }}">Edit profile</a>
        <br>
        <a href="{{ path('slider') }}">Edit slider</a>
        <br>
    {% endif %}
    {% for picture in arrayImg %}
        {% if picture != "" %}
            <img src="{{ asset("img/"~user.pseudo~"/Slider/"~picture) }}" width="200px"/>
        {% endif %}
    {% endfor %}
{% endblock %}
