{% if form is not defined %}
    <h2> Please complete the post subcription question before using the app :)</h2>
{% else %}
    <br>
    {{ form_start(form) }}
    {{ form_row(form.city) }}
    {{ form_row(form.aboutyou) }}
    {{ form_row(form.profileDominance) }}
    {{ form_row(form.intention) }}
    {{ form_row(form.herefor) }}
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(form) }}
{% endif %}