<ul class="nav justify-content-center sticky-top">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url('home_page') }}">Home page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('profile') }}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('match') }}">Match</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('match_display') }}">Mes matchs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('messages') }}">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="{{ url('app_disconnect') }}">Déconnexion</a>
    </li>
</ul>